*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.container{
   max-width: 1330px;
   padding: 0 14px;
   margin: 0% auto;
}
a{
    color: #000000;
}

.menu{
    padding-top: 50px;
    align-items: center;
}

.menu_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu_item_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 43px;
}

.link{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.menu .menu_btn{
    display: inline-block;
    background-color: #FFFFFF;
    padding: 17px 57px;
    border: #263238 2px solid;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
}

/* next section "welcome_section" */

.welcome_section{
    margin-top: 115px;
    align-items: center;
}

.welcome_section_column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome_section_column_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome_section_title{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
}

.lamp{
    padding-left: 43px; 
}


.welcome_section_text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #8F95A5;
    margin-top: 40px;
}

.welcome_section_btn{
    margin-top: 61px;
    padding: 32px 118px;
    background: #263238;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    cursor: pointer;
}
/* next section "skills_section"*/
.skills_section{
    align-items: center;
}

.section_name, h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.skills_section_description{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.skills_section_box{
    background: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

.skills_section_btn{
    margin-top: 30px;
    padding: 15px 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #263238;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.padding_skills_section_box{
    padding: 33px 30px;
}


.skills_section_name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #263238;
}

.skills_section_description_row{
    display: flex;
    align-items: initial;
    gap: 18px;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-shrink: 1;
}

.skills_section_description_row_column{
    display: flex;
    justify-content: center;
    align-items: initial;
    gap: 18px;
}

.skills_section_box_text{
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8F95A5;
}

.listening_box_row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: inherit;
    background: #F5F5F5;
    border-radius: 10px;
}

.listening_column_text{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: inherit;
}

/* next section "About Us" */

.about_section{
    margin-top: 282px;
}

.about_section_column{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10%;
}

.about_section_column_column{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.about_section_column_text{
    margin-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}

.about_section_column_text_statistics{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.about_section_column_text_statistics_column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.num{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}

.img_section_about{
    margin-top: 70px;
}
/* next section */

.pricing_section{
    margin-top: 205px;
}

.pricing_section_row{
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    align-items: stretch;
    gap: 100px;
}

.pricing_section_row_column{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:space-between;
    gap: 30px;
    flex: 1;
}

.pricing_section_row_column :first-child{
    align-items: center;
}



.pricing_section_row_column_title{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #263238;
}

.pricing_section_row_column_text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}

.pricing_section_row_column_cost{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    border: none;
    border-radius: 5px;
    gap: 9px;
}

.pricing_section_row_column_price{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #263238;
}

.pricing_section_row_column_per_monuth{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #546269;
}
/* next section */

.contact_section{
    margin-top: 261px;
}

.contact_section_row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contact_section_row_column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.section_title{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
}

.contact_section_row_column_text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #8F95A5;
}

.contact_section_row_column_input{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.contact_section_row_column_input_email{
    padding: 29px 33px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
}

.contact_section_row_column_btn{
    background: #263238;
    border: none;
    border-radius: 10px;
    padding: 25px 81px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.line{
    margin-top: 180px;
    height: 1px;
    background: #C4C4C4;
}

footer{
    margin-top: 40px;
    margin-bottom: 70px;
}

.other_information{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.other_information_row{
    display: flex;
    justify-content: space-between;
}

.other_information_row_link{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.other_information_row_link li:first-child{
    list-style-type: none;
}

.other_info_link{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #8F95A5;
    list-style-type: disc;
    cursor: pointer;
}